<div class="comment" style="width: 18rem;">
    <div class="card-body">
        <span>By: {{user_name}}</span>
        
        <p class="card-text">{{comment_content}}</p>
       
        
    </div>

</div>