<div class="comment m-3 box-shadow" style="width: 18rem;">
    <div class="card-body p-2">
        <span class="comment-name">By: {{user_name}}</span>
        
        <p class="card-text ibm-text">{{comment_content}}</p>
       
        
    </div>

</div>