<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start columns is-vcentered">
      
        
          <a class="nav-link active column caveat-text is-size-3" aria-current="page" href="/">Home</a>
        
        
          <a class="nav-link column caveat-text is-size-3" href="/api/users/dashboard">Dashboard</a>
        {{!-- </div>
        <div class="navbar-end"> --}}
            {{#if loggedIn}}
            <button id="logout" class="btn">Logout</button>
            {{else}}
            <div class="navbar-item has-dropdown is-hoverable column">
                
                        <a class="navbar-link is-arrowless caveat-text is-size-3">Account</a>
                
                <div class="navbar-dropdown" role="menu">
                    <a class="navbar-item ibm-text" href="/signup">Sign Up</a>
                
                    <a class="navbar-item ibm-text" href="/login">Login</a>
                </div>
            </div>
            {{/if}}
        
      
    </div>
  </div>
</nav>