<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid fs-1">
    <a class="navbar-brand brand-name" href="/">Stack 'em Back Blog</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-3" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3" href="#">Dashboard</a>
        </li>
        <li class="nav-item fs-3">
            {{#if loggedIn}}
            <button id="logout" class="btn">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>