<div class="container">
    <div class="card-backing box-shadow p-2">
        <a href="/">
            <div class="card-body box-shadow p-3 m-3">
                <h5 class="card-title caveat-text is-size-1">404 - No blogs here.</h5><span class="blog-username">By: Anonymous</span>
                <div class="column is-12 ibm-text">
                    <span class="comment-name"></span>
                </div>
                <div class="column is-12 ibm-text">
                    <p class="card-text ibm-text">No problem, just click this card to go to the home page.</p>
                </div>
                <div class="comments card-backing box-shadow m-3 p-2">
                    <h3 class="comment-header caveat-text">Comments:</h3>
                </div>
            </div>
        </a>
    </div>
</div>