<div class="container">
    <form class="login-form">
        <div class="container p-5">
            <div class="mb-3 ml-5 cntr container">
                <label for="username-login" class="form-label caveat-text label-text">Username: </label>
                <input type="name" class="form-control ibm-text box-shadow ml-4" id="username-login">
            </div>
            <div class="mb-3 ml-5 cntr">
                <label for="password-login" class="form-label caveat-text label-text">Password: </label>
                <input type="password" class="form-control ibm-text box-shadow ml-4" id="password-login">
            </div>
            <div class="cntr container">
                <button type="submit" class="button is-large ibm-text btn-margin box-shadow">Login</button>
            </div>
        </div>
    </form>
    <br>
    <div class="container cntr">
        <span class="mr-2 caveat-text account-text">Don't have an account? </span>
        <a class="caveat-text account-text red-link ml-2" href="/signup">Signup here</a>
    </div>
</div>

<script src="/js/login.js"></script>