<div class="container">
    <form class="login-form">
        <div class="container p-5">
            <div class="mb-3 ml-5 cntr container">
                <div>
                    <label for="username-login" class="form-label caveat-text label-text">Username </label>
                    <input type="name" class="form-control ibm-text" id="username-login">
                </div>
            </div>
            <div class="mb-3 ml-5 cntr">
                <div>
                    <label for="password-login" class="form-label caveat-text label-text">Password </label>
                    <input type="password" class="form-control ibm-text" id="password-login">
                </div>
            </div>
            <div class="cntr container">
                <button type="submit" class="button is-large ibm-text">Login</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>