<div class="container">
    <form class="signup-form">
        <div class="mb-3 ml-5 cntr">
            <label for="username-signup" class="form-label caveat-text label-text">Username:</label>
            <input type="name" class="form-control ibm-text box-shadow ml-4" id="username-signup">
        </div>
        <div class="mb-3 ml-5 cntr">
            <label for="email-signup" class="form-label caveat-text label-text mr-3">Email:  </label>
            <input type="email" class="form-control ibm-text box-shadow ml-6" id="email-signup">
        </div>
        <div class="mb-3 ml-5 cntr">
            <label for="password-signup" class="form-label caveat-text label-text">Password:</label>
            <input type="password" class="form-control ibm-text box-shadow ml-4" id="password-signup">
        </div>
        <div class="cntr">
            <button type="submit" class="button is-large ibm-text box-shadow btn-margin">Sign Up</button>
        </div>
    </form>
    <br>
    <div class="container cntr">
        <span class="mr-2 caveat-text account-text">Already have an account? </span>
        <a class="caveat-text account-text red-link ml-2" href="/login">Login here</a>
    </div>
</div>

<script src="/js/login.js"></script>