/* * {
    border: 2px solid black;
} */

body, html {
    height: 100%;
    width: 100%;
    background: rgb(140,3,14);
    background: linear-gradient(0deg, rgba(140,3,14,1) 0%, rgba(250,235,215,1) 50%, rgba(140,3,14,1) 100%);
    /* background: rgb(250,235,215);
    background: linear-gradient(315deg, rgba(250,235,215,1) 0%, rgba(140,3,14,1) 50%, rgba(250,235,215,1) 100%); */
    /* background: rgb(140,3,14);
    background: linear-gradient(315deg, rgba(140,3,14,1) 0%, rgba(250,235,215,1) 50%, rgba(140,3,14,1) 100%); */
    /* background-image: url('../assets/images/red_and_black_abstract_bg.png');
    background-size: cover; */
}

.navbar {
    background-color: #8C030E;
}
.nav-link, .navbar-link, .card-link, .caveat-text, .comment-name, .blog-username {
    color: white;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.blog {
    border: 3px solid black;
}
#header-title {
    text-align: center;
}
#header-title > a {
    color: white;
	
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.brand-name {
    font-size: 6rem;
    text-decoration: none;
    text-align: center;
}

.ibm-text {
    font-family: 'IBM Plex Mono', monospace;
}

.caveat-text{
    font-family: 'Caveat', cursive;;
}

.card-body {
    
    background-color: #8C030E;
}
.card-body > a {
    color: white;
}
.card-backing {
    background-color: #faebd7;
}

.label-text, .comment-header {
    color: white;
    font-size: 2.2rem;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.red-link:hover {
    color: #e61a2b;
}

.button:hover, .menu-item:hover {
    background-color: #8C030E !important;
    color: white !important;
    font-size: 1rem;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
.box-shadow {
    box-shadow: 2px 2px 2px #260101;
}

.comment-name, .blog-username {
    font-size: 1.2rem;
}

.comment-text {
    text-align: center;
}
.btn-margin {
    margin-left: 13%;
}

.cntr {
   
    display: flex;
    justify-content: center;
}

.bdr {
 border: 2px solid black;
}