body, html {
    height: 100%;
    width: 100%;
    /* background-image: url('../assets/images/red_and_pink_abstract_bg.png');
    background-size: contain; */
}

.blog {
    border: 3px solid black;
}

.brand-name {
    font-size: 2rem;
    text-decoration: none;
}